@import "normalize";
@import "bourbon/bourbon";

@include font-face($font-family: "Almoni",
                   $file-path: "/static/fonts/almoni-dl-aaa-300",
                   $weight: 300,
                   $style: normal);

@include font-face($font-family: "Almoni",
                   $file-path: "/static/fonts/almoni-dl-aaa-700",
                   $weight: 700,
                   $style: normal);

@include font-face($font-family: "Alef",
                   $file-path: "/static/fonts/Alef-regular",
                   $weight: 400,
                   $style: normal);

@include font-face($font-family: "Alef",
                   $file-path: "/static/fonts/Alef-bold",
                   $weight: 700,
                   $style: normal);


$color-blue: #2C7FB8;
$color-yellow: #F89406;
$color-yellow-highlight: #FBB450;
$color-red: #DA4F49;
$color-red-highlight: #EE5F5B;
$color-green: #51A351;
$color-green-highlight: #62C462;

$color-primary: $color-blue;
$color-text: #444;
$color-text-light: #bbb;

* {
    @include box-sizing(border-box);
}

body, html {
    margin: 0;
    padding: 0;
    background: #fff;
    color: $color-text;
    font-family: Alef, sans-serif;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 400px;
    left: 0;
    background: #ddd;
}

#content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 400px;
    right: 0;
    direction: rtl;
    padding: 1em;
    header {
        text-align: center;
        padding-bottom: 0.5em;
        border-bottom : 1px solid #ddd;
        h1, h2 {
            margin: 0;
            padding: 0;
        }
        h1 {
            font-size: 4em;
            line-height: 1em;
            margin: 0;
            padding: 0;
            color: $color-primary;
            font-weight: bold;
            letter-spacing: -1px;
            .numerals {
                letter-spacing: -5px;
            }
        }
        h2 {
            font-size: 1.25em;
            font-weight: 400;
            color: $color-text-light;
        }
    }
}

#info {
    overflow-y: scroll;
}

.citylist {
    text-align: center;
    h1 {
        color: $color-primary;
        margin-bottom: 0;
    }
    p {
        margin: 0.25em auto 0.75em;
        color: $color-text-light;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .citylistitem {
        a {
            text-decoration: none;
            color: $color-text;
            font-size: 1em;
            display: inline-block;
            background-color: #ddd;
            margin: 0.25em;
            padding: 0.2em 0.5em;
            border-radius: 2px;
            @include transition(all 0.15s ease);
        }

        @mixin dataclass($bg, $lighter) {
            background-color: $bg;
            @include background-image(linear-gradient(top, $lighter, $bg));
            background-repeat: repeat-x;
            color: white;
            border: 1px solid darken($bg, 12%);
            @include box-shadow(0 1px 0 0 rgba(255,255,255,0.35) inset);
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
            &:hover {
                background-position: 0 -15px;
            }
        }

        &[data-class=a] a {
            @include dataclass($color-green, $color-green-highlight);
        }
        &[data-class=b] a {
            @include dataclass($color-yellow, $color-yellow-highlight);
        }
        &[data-class=c] a {
            @include dataclass($color-red, $color-red-highlight);
        }
    }
}
