@import "normalize";
@import "bourbon/bourbon";


* {
    @include box-sizing(border-box);
}

body, html {
    margin: 0;
    padding: 0;
    background: #ddd;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 400px;
    left: 0;
}


