@import "normalize";
@import "bourbon/bourbon";

@include font-face($font-family: "Almoni",
                   $file-path: "../fonts/almoni-dl-aaa-300",
                   $weight: 300,
                   $style: normal);

@include font-face($font-family: "Almoni",
                   $file-path: "../fonts/almoni-dl-aaa-700",
                   $weight: 700,
                   $style: normal);

* {
    @include box-sizing(border-box);
}

body, html {
    margin: 0;
    padding: 0;
    background: #ddd;
}

.map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 400px;
    left: 0;
}


